<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>Clinic Name</th>
        <th>Date</th>
        <th>Cause</th>
        <th>Result</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.clinic}"> Clinic Name </td>
        <td th:text="${visit.date}"> Date </td>
        <td th:text="${visit.cause}"> Cause </td>
        <td th:text="${visit.result}"> Result </td>

        <td><a href="#" th:href="@{'/veterinaryvisits/edit/' + ${visit.visitId}}"><i class="fas fa-pen mx-1"></i></a></td>
        <td><a href="#" th:href="@{'/veterinaryvisits/delete/'  + ${visit.visitId}}"><i class="fas fa-trash mx-1"></i></a></td>
    </tr>
</table>