<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>Vaccination Name</th>
        <th>Date</th>
        <th>Dose</th>
        <th>Total doses</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="vaccination : ${vaccinations}">
        <td th:text="${vaccination.name}"> Vaccination Name </td>
        <td th:text="${vaccination.date}"> Date </td>
        <td th:text="${vaccination.dose}"> Dose </td>
        <td th:text="${vaccination.totalDoses}"> Total doses </td>

        <td><a href="#" th:href="@{${HEALTH} + '/vaccinations/edit/' + ${vaccination.vaccinationId}}"><i class="fas fa-pen mx-1"></i></a></td>
        <td><a href="#" th:href="@{${HEALTH} + '/vaccinations/delete/'  + ${vaccination.vaccinationId}}"><i class="fas fa-trash mx-1"></i></a></td>
    </tr>
</table>