<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>Medication Name</th>
        <th>Reason</th>
        <th>Dosage (mg)</th>
        <th>Frequency (days)</th>
        <th>Observations</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="medication : ${medications}">
        <td th:text="${medication.name}"> Medication Name </td>
        <td th:text="${medication.reason}"> Reason </td>
        <td th:text="${medication.dosage}"> Dosage </td>
        <td th:text="${medication.frequencyDays}"> Frequency </td>
        <td th:text="${medication.observations}"> Observations </td>

        <td><a href="#" th:href="@{${HEALTH} + '/medications/edit/' + ${medication.medicationId}}"><i class="fas fa-pen mx-1"></i></a></td>
        <td><a href="#" th:href="@{'/medications/delete/'  + ${medication.medicationId}}"><i class="fas fa-trash mx-1"></i></a></td>
    </tr>
</table>